<br>

<h1 class='home'>NEO FUCKING PETS!!!!!</h1>
<br>
<div class="container">
  <div class="row" id="top">
    <div class="col-4">
      <div class="frame-bg">
        <img id="pet1" class="overlay-img" src='https://png2.cleanpng.com/sh/f38c8834b27b9d9b9a1e6d45b69e1ee0/L0KzQYm3VsE1N6tqgJH0aYP2gLBuTf5md6FqjOU2d3nueX71hf9xbaV4RdhqZYLsdcS0VfIzOpU6fNY9NUO1doO1UskzPGc7Uac6NUK8QIGCVsI6Omk4TZD5bne=/kisspng-neopets-wiki-neopets-faeries-5b22d5dd4532f2.2924669515290096292835.png'>
        <button>Placeholder</button>       
      </div>

    </div>

    <div class="col-4">
      <div class="frame-bg">
        <img id="pet2" class="overlay-img" src='https://png2.cleanpng.com/sh/fae3b0d0092d67fb540f481e65446bf4/L0KzQYm3U8I3N6p9iZH0aYP2gLBuTgF2baR5gdH3LX3kgry0hPlkbV51itd8ZX73ccXwjB4uaZ9uhdN9aXBxPbTzigAuaaN5ReNAZYP3ebF1TcViamlmUNUDOHO1SIWCTsI4Omk6T6oAMUW1QoG8UcI4OmY8TKM3cH7q/kisspng-question-mark-dice-presentation-animation-clip-art-question-5ab8a8c88c2849.2728578515220512725741.png'>
        <button>Placeholder</button>
      </div>
    </div>

    <div class="col-4">
      <div class="frame-bg">
        <img id="pet3" src='https://png2.cleanpng.com/sh/305b290f5de750c840d5dedb6f5bc5ed/L0KzQYm3VcE3N6pBiZH0aYP2gLBuTfNifF5zfdH5ZYT2PbT2jP9zNahmjNd7LUXkdrPsVcI6OGI5fdc9Lki2Q4aBU8g6OWY3TqYAN0a3QYG3VcQveJ9s/kisspng-cat-neopets-color-water-5afbe529014ee4.8335838915264576410054.png'>
        <button>Placeholder</button>
      </div>
    </div>
  </div>
</div>

<br>

<%# <div class="container">
  <div class="row" id="top">
    <div class="col-4">
      <img id="pet1" src='https://png2.cleanpng.com/sh/f38c8834b27b9d9b9a1e6d45b69e1ee0/L0KzQYm3VsE1N6tqgJH0aYP2gLBuTf5md6FqjOU2d3nueX71hf9xbaV4RdhqZYLsdcS0VfIzOpU6fNY9NUO1doO1UskzPGc7Uac6NUK8QIGCVsI6Omk4TZD5bne=/kisspng-neopets-wiki-neopets-faeries-5b22d5dd4532f2.2924669515290096292835.png'>
    </div>

    <div class="col-4">
      <img id="pet2" src='https://png2.cleanpng.com/sh/f38c8834b27b9d9b9a1e6d45b69e1ee0/L0KzQYm3VsE1N6tqgJH0aYP2gLBuTf5md6FqjOU2d3nueX71hf9xbaV4RdhqZYLsdcS0VfIzOpU6fNY9NUO1doO1UskzPGc7Uac6NUK8QIGCVsI6Omk4TZD5bne=/kisspng-neopets-wiki-neopets-faeries-5b22d5dd4532f2.2924669515290096292835.png'>
    </div>

    <div class="col-4">
      <img id="pet3" src='https://png2.cleanpng.com/sh/f38c8834b27b9d9b9a1e6d45b69e1ee0/L0KzQYm3VsE1N6tqgJH0aYP2gLBuTf5md6FqjOU2d3nueX71hf9xbaV4RdhqZYLsdcS0VfIzOpU6fNY9NUO1doO1UskzPGc7Uac6NUK8QIGCVsI6Omk4TZD5bne=/kisspng-neopets-wiki-neopets-faeries-5b22d5dd4532f2.2924669515290096292835.png'>
    </div>
  </div>
</div> %>