<div id="battle-page4" class="container">
  <div class="row" id="top">
    <div class="col-4">
        <div class="battle4-bg">
          <%= image_tag "#{@neopet.pet_pic}", id: 'pet-battle', class: 'overlay-img' %>
          <p class="battle-info"><%= "#{@neopet.pet_name}" %></p>
        </div>
    </div>

    <div class="col-4">
      <br>
      <div class="battle-info">
        <br>
        <p><span class="pet"><%= "#{@neopet.pet_name}" %></span> and <span class= "green">SEAL TEAM TWIX</span> dont negotiate with <span class= "red">Terrorists</span> </p>

        <%= button_to "Head Home", neopets_path(params[:neopet_id]), type: "button", class: "btn btn-light", method: 'get' %>
      </div>
    </div>

    <div class="col-4">
    <img class= "blood" src="https://png2.cleanpng.com/sh/b343d156036f95afd00df583b82a6975/L0KzQYm3UsE2N6hBiZH0aYP2gLBuTfFjNZD7h59rbHBydH76kQJigV55gNc2Ynzyf7W0VfE5PmM8UKYBMEHkdYm1Vcc0PmQ4SqM6NUG7R4W4U8gxO2o4T5D5bne=/kisspng-ab-ovo-blood-spray-the-blood-5a862784601ae8.5736332115187413803937.png">
    </div>
  </div>
</div>