<div id="battle-pages" class="container">
  <div class="row" id="top">
    <div class="col-4">
        <div class="couch-bg">
          <%= image_tag "#{@neopet.pet_pic}", id: 'pet-battle', class: 'overlay-img' %>
          <p class="battle-info"><%= "#{@neopet.pet_name}" %><%= button_to "answer the radio", neopet_screenS2_path(params[:neopet_id]), type: "button", class: "btn btn-light", method: 'get' %>
        </div>
     
    </div>

    <div class="col-4">
    <br>
      <div class="battle-text">
        <br>
        <p><span class="pet"><%= "#{@neopet.pet_name}" %></span> is relaxing in the <span class ="green">NeoPets headquarters</span> watching their favorate tv show "burn notice"</p>
        <p>a *beep* and *hum* comes from the <span class ="green">NeoPets secure radio network</span></p>
        <br>
      </div>
    </div>

    <div class="col-4">
      <img id= "radio" src= "https://png2.cleanpng.com/sh/f54e9e155e6fa6ce95e93e2727946839/L0KzQYm3UsE5N6R1j5H0aYP2gLBuTgJibJp0RdV1aYCwccP7TgZqdqVmf9c2cnHnebE0VfE5QWo5TNg9OUPldoi1WMM4O2I8SKo6NUG7SYe8WMM6O191htk=/kisspng-radio-clip-art-vintage-radio-5a89944f493bf7.8373170815189658393.png">
      <div class="battle-info">
        <p>Secure Radio Network</p>
      </div>
    </div>
  </div>
</div>