/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  background-image: url("https://cdn.wallpapersafari.com/37/43/3en47Z.jpg");
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;

}

.container-fluid{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  background-image: url(https://play.nintendo.com/images/theme-pattern-animalcrossing-blue.d872ef06.jpg);
  box-shadow: 0px -2px 20px 10px rgb(0 0 0 / 20%);
  border-bottom:  solid black;
  border-color: black;
  border-width: 3px;
  box-shadow: 5px 5px rgba(0,0,0,.15);
}

.home {
  text-align: center;
  color: rgb(67, 208, 255);
  font-family: 'Luckiest Guy', cursive;
  -webkit-text-stroke:1px rgb(255, 128, 24);
  transition: all 2s;
  text-shadow: 5px 5px rgba(0,0,0,.25);
}

.home:hover {
  transition: all 5s;
  transform: scale(1.3);
  -webkit-text-stroke: 1px rgb(214, 255, 91);

}

#box-qm:hover {
  transition: all 1s;
  transform: scale(1.1);
  filter: none;
}

#pet1 {
  height: 400px;
  width: 400px;
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  transition: all 3s;
}

#box-qm {
  
  height: 400px;
  width: 400px;
  /* display: absolute; */

  margin-left: auto;
  margin-right: auto;
  transition: all 3s;
  filter: sepia() drop-shadow(11px 11px 14px rgb(1, 1, 1));
  
}

#headstone  {
  margin-top: 40px;
  height: 280px;
  width:300px;
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  transition: all 3s;
  border-bottom:  solid black;
  border-color: black;
  border-width: 10px;
}
#pet-battle  {
  height: 400px;
  width: 400px;
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  transition: all 3s;
}
.battle-bg {
  text-align: center;
  background-image: url("https://png2.cleanpng.com/sh/fbd4bdfe720726be2bb6a891d2898562/L0KzQYm3VcI2N5ZmepH0aYP2gLBuTfdzaZ9pReZxZXb3PbL8lP8ue5JzRdN3ZILoccS0hCJidpUyjNpuZoSwccb7j713NZQyiNH1aXPoPbTokwMuPZM1UKk5Zka8SIi8U8cvPWk9UKYCOES0RYOAUsc6QGc3TqQ9NT7zfri=/kisspng-grand-theft-auto-san-andreas-grand-theft-auto-v-c-police-cars-5b0870f6987537.5888478415272798626245.png");
  background-position: center;
  background-repeat:no-repeat; 
  background-size: 420px, 420px;
}
.couch-bg {
  text-align: center;
  background-image: url("https://png2.cleanpng.com/sh/ed17402ce4c23fef73f63c2ca1a5996a/L0KzQYm3U8A2N5Zqj5H0aYP2gLBuTfxwfpZ4fdN9LXLvhba0gB92a5kyet5AZT3pcbP5ifMue5DreZ8AYUnnRrPtUMJmbWRpSZC5MkK2QYSAWME2OmE3Tqg7MkS0SYO4TwBvbz==/kisspng-loveseat-blue-couch-blue-fabric-sofa-5a9d6bf02ee3d1.0223137815202662241921.png");
  background-position: center;
  background-repeat:no-repeat; 
  background-size: 420px, 420px;
}
.battle1-bg {
  text-align: center;
  background-image: url("https://png2.cleanpng.com/sh/ebee94642a99401b3d3e004d68102a26/L0KzQYi4UsE3N5NqTpGAYUO4Qre8gBE5a5drT5C7MUC3SYq7VsE2OWQ5S6YEN0K5SYK8TwBvbz==/5a352f5ca8cff7.2104994615134349726915.png");
  background-position: center;
  background-repeat:no-repeat; 
  background-size: 420px, 420px;
}

.battle2-bg {
  text-align: center;
  background-image: url("https://png2.cleanpng.com/sh/5aa61620cf643f69d96756b8473579d4/L0KzQYm3VcI1N5D6ipH0aYP2gLBuTfNwfZ95feQ2c4T1ebzsTgNwfaNofZ9rYYT3fLbtifVtbF45RdV4dX73dcO0kCRzcZwye9HAboTogn77hgJzd6Nui982NXKzRrTshsI4bGk4Uas3OEG4QYm8UMMyPWM8Sak7OEWzRYK7Ub5xdpg=/kisspng-counter-strike-source-battlefield-4-counter-strik-counter-terrorism-5b06cef27d8399.8151850315271728505141.png");
  background-position: center;
  background-repeat:no-repeat; 
  background-size: 420px, 420px;
}



#green{
color: green;
}

#pet2  {
  height: 400px;
  width: 400px;
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  transition: all 3s;
}
#pet3  {
  height: 400px;
  width: 400px;
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  transition: all 3s;
}

#frame  {
  height: 90%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  transition: all 3s;
}

#user {
  padding-top: 5px;
  padding-right: 3px;
  color: rgb(57, 69, 244);
  font-size: 20px;
}

#user:hover {
  opacity: 80%
}

#front:hover{
  transition: all 5s;
  transform: scale(1.5) rotate(10deg)
}

.container {
  text-align: center;
  height: 400px;
  width: 200%;
  border: solid black;
  border-color: black;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-.5deg);
  box-shadow: 20px 20px rgba(0,0,0,.15);
}

#home-page{
  background-image: url(https://play.nintendo.com/images/theme-pattern-animalcrossing-blue.d872ef06.jpg);
}

#pet-page{
  background-image: url(https://i.imgur.com/B8fJ5ua.jpeg);
}

#battle-page{
  background-image: url(https://cdn.wallpapersafari.com/98/44/l25orQ.png);
}


#death-page{
  background-image: url(https://www.jellyneo.net/images/plotimgs/forgotten_graveyard_sword.png);
  background-size: cover;
}

#enemy {
  height: 400px;
  width: 400px;
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  transform: rotateY(180deg);
}

#building {
  height: 400px;
  width: 400px;
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  transform: rotateY(180deg);
}


.container2 {
  text-align: center;
  height: 400px;
  width: 200%;
  background-image: url(https://png2.cleanpng.com/sh/9e7abb5d4b9c25ed974d44627efc6d8a/L0KzQYm4UsI6N5Dwg5H0aYP2gLBuTgJicZ9rhARuc4SwgLF5lPFjdJYyhtd9d3B1e37ukvFxcJpoi59ybXHqdX7ojvluaaVuReRqaX7pf8PskCQueJ9sReZ7YX72gLL5hf51NZpyedlucz3zebT7lgJme151gNH9bz24c4OAhskzOpM2TKZtNT66SYG6V8Y0PGI6TKg6MkO4RYWAUsYyNqFzf3==/kisspng-rainforest-portable-network-graphics-image-animati-rainforest-png-transparent-images-pictures-photo-5c27f922b144d5.7903763415461235547261.png);
  border: solid black;
  border-color: black;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-.5deg);
  box-shadow: 20px 20px rgba(0,0,0,.15);
}

.field, .sign {
  color: rgb(57, 69, 244)
}

.frame-bg {
  text-align: center;
  background-image: url("https://png2.cleanpng.com/sh/faff342ab89e9daa32b7cef9dddd82d8/L0KzQYm3U8MxN5R6iZH0aYP2gLBuTgNxbZZogJ9rYXzvf7F1TfNwdZpoRdR4b3uwc7F0ifN0NZR0hdtsLYP3grr3TfJwd54yTdNrZHS0SbK5gvUzQWkzSKQCMkK7QYW4VcIzO2kATKI7MUe8SHB3jvc=/kisspng-speech-balloon-comic-book-comics-comic-strip-boom-5abdd19a2be298.0272281415223894021798.png");
  background-position: center;
  background-repeat:no-repeat; 
  background-size: 360px, 360px;
}

.tree-bg {
  text-align: center;
  background-image: url("https://png2.cleanpng.com/sh/d8217595bcc0cea3237e1ba41088201f/L0KzQYm3V8AzN5xufpH0aYP2gLBuTfdtaZVqReZ7ZXWwc7FzjPFobV5ohNt5LXH1hH68gsNiO2Y3fqJtM0W5SXABUcQ2OGc3SKMAM0C4RIK6VckxPWU2RuJ3Zx==/kisspng-glade-tree-collage-clip-art-5b3a352f0d3569.8145062015305413590541.png");
  background-position: center;
  background-repeat:no-repeat; 
  background-size: 320px, 320px;
}


.stats-bg {
text-align: center;
background-image: url("https://png2.cleanpng.com/sh/bba82c698b1646b1aef6eca07f2d1162/L0KzQYi4UcI5N5I2epGAYUHnQbe4gcJlPmhnUZC8NkG7R4a8VsE2OWI9TakENEa0SIe1kP5o/5a1d1f1a2d67b9.361875561511857946186.png");
font-family: 'Seaweed Script', cursive;
font-weight: bold ;
background-position: center;
background-repeat:no-repeat; 
background-size: 300px, 300px;
color: rgb(0, 0, 0);
letter-spacing: 6px;
text-shadow: none;
font-size: large;
}

.form {
  margin-left: 40px;
  line-height: 2;
  -webkit-text-stroke: 0.7px rgb(255, 255, 255);
  letter-spacing: 3px;
}

.btn {
  border: solid black;
}

.btn:hover {
  transform: scale(1.1);
}
.full{
  font-size: 60px;
  color: green;
  list-style-type: none;
}
.hungry{
  list-style-type: none;
  font-size: 60px;
  color: red;
}
.col-hunger{
  color: rgb(255, 255, 255);
  font-size: xx-large;
  margin: auto;
  width: 100%;
  padding: 120px;
  list-style-type: none;
}

.pulsate {
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
  0% { 
      opacity: 0.5;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
  }
}

.pet-form {
  font-size: 70px;
  color: rgb(55, 245, 255);
  background-image : url(https://play.nintendo.com/images/theme-pattern-animalcrossing-green.d872ef06.jpg);
  text-align: center;
  height: 400px;
  width: 100%;
  border: solid black;
  border-color: black;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-.5deg);
  box-shadow: 20px 20px rgba(0,0,0,.15);
}

.error {
  margin-top: 23px;
  color: rgb(247, 160, 160);
  font-size: 45px;
  text-align: center;
}

.battle-info {
  color: black;
  -webkit-text-stroke: 1px white;
  letter-spacing: 3px;
  font-size: 32px;
}
.battle-text {
  color: black;
  -webkit-text-stroke: 1px white;
  letter-spacing: 3px;
  font-size: 16px;
  margin-top: -10px;
}

#red {
  color: red;
}

.pet {
  font-size: larger;
  font-weight: bolder;
}